/* Header */
.header{

    border: 2px solid red;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerone{
    font-family: fantasy!important;
    background-color: black;
    color: white;
   
    padding: 28px 0px;
    font-size: 2.5rem;
}
#headertwo{
    padding: 6px 56px;
}